.search-bar__cate {
  width: 100px;
}
.search-bar__cate select {
  width: 100%;
  padding: 10px;
  border: none;
  font-size: 1.1em;
  outline: none;
  text-align: center;
}

.search-bar__cate select option {
  text-align: center;
}
.search-bar__input {
  flex: 1;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 7px;
}
.search-bar__input input {
  width: 90%;
  padding: 10px 12px;
  padding-left: 18px;

  flex: 1;
  border: none;
  outline: none;
  font-size: 1em;
}

.search-bar__input .search-icon {
  color: black;
  font-size: 27px;
  margin-right: 8px;
}
