/* @font-face {
  font-family: "NanumSquareRoundL";
  src: url(./fonts/NanumSquareRoundL.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "NanumSquareRoundR";
  src: url(./fonts/NanumSquareRoundR.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: url(./fonts/NanumSquareRoundB.ttf) format("truetype");
  font-weight: 700;
} */

@font-face {
  font-family: "NanumSquareRound";
  src: url(/fonts/NanumSquareRoundL.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(/fonts/NanumSquareRoundR.ttf) format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(/fonts/NanumSquareRoundB.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "NanumSquareRound";
  src: url(/fonts/NanumSquareRoundEB.ttf) format("truetype");
  font-weight: 800;
}

body {
  font-family: "NanumSquareRound", "NanumSquare", sans-serif;

  background-color: rgba(0, 0, 0, 0.05);
}
